<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Masukan Resepmu</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Bagikan resep makanan enakmu ke dunia disini</p>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-8">

        <% if (infoSubmitObj !='' ) { %>
            <div class="alert alert-success" role="alert">
                <%= infoSubmitObj %>
            </div>
            <% } %>

                <% if (infoErrorObj !='' ) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= infoErrorObj[0].message %>
                    </div>
                    <% } %>
                        <form action="/submit-recipe" enctype="multipart/form-data" method="POST">

                            <div class="row g-3">

                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" required>
                                </div>

                                <div class="col-12">
                                    <label for="name" class="form-label">Nama Resep</label>
                                    <input type="text" name="name" id="name" class="form-control" required>
                                </div>

                                <div class="col-12">
                                    <label for="description" class="form-label">Deskripsi</label>
                                    <textarea name="description" id="description" class="form-control" cols="30"
                                        rows="4"></textarea>
                                </div>

                                <div class="col-12">
                                    <label for="name" class="form-label">Bahan Bahan</label>
                                    <small>(Contoh: Garam)</small>
                                    <div class="ingredientList">
                                        <div class="ingredeintDiv mb-1">
                                            <input type="text" name="ingredients" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+
                                        Bahan</button>
                                </div>

                                <div class="col-12">
                                    <label for="category">Pilih Kategori</label>
                                    <select class="form-select form-control" name="category" aria-label="Category">
                                        <option selected>Pilih Kategori</option>
                                        <option value="Thai">Thai</option>
                                        <option value="American">American</option>
                                        <option value="Chinese">Chinese</option>
                                        <option value="Mexican">Mexican</option>
                                        <option value="Indian">Indian</option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <label for="image">Foto Product</label>
                                    <input type="file" class="form-control" name="image" accept="image/*">
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Masukan Resep</button>
                                </div>

                            </div>

                        </form>
    </div>
</div>